<h1>Welcome to Photogur!</h1>
<% if current_user %>
  <%= link_to("New Picture", new_picture_path) %>
<% end %>

<br />

<% @most_recent_pictures.each do |picture| %>
  <%= link_to image_tag(picture.url, border: 0), picture_path(picture) %>
  <p><%= picture.title %>, <%= picture.artist %></p>
<% end %>

<% @month_old.each do |picture| %>
  
<% end %>