<h1 class="welcome">Welcome to Photo<span>gur</span>!</h1>

<div class="picture_index">

  <% @most_recent_pictures.each do |picture| %>
    <div class="picture_box">
      <%= link_to image_tag(picture.url, border: 0), picture_path(picture) %>
      <h5><%= picture.title %></h5>
    </div>
  <% end %>

</div>

<% @month_old.each do |picture| %>
  
<% end %>